/* https://leaverou.github.io/bubbly/ */

.speech-bubble {
    position: relative;
    background: #797979;
    border-radius: .4em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 24px solid transparent;
    border-top-color: #797979;
    border-bottom: 0;
    border-right: 0;
    margin-left: -12px;
    margin-bottom: -24px;
}

#kitty { height: 100px; }